<h1>Documents#index</h1>
<p>Find me in app/views/documents/index.html.erb</p>

<h1>Panel de documentos</h1>

<nav>
    <ul>
        <li><%= link_to "Facturas", bills_path %></li>
        <li><%= link_to "Remitos", "#" %></li>
        <li><%= link_to "Presupuestos", "#" %></li>
    </ul>
</nav>

<div>
    <%= link_to "Volver al inicio.", root_path %>
</div>